@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileNav {
  @apply absolute h-screen max-w-[254px] w-full flex md:hidden flex-col gap-6 pl-6 pt-28 text-base font-barlow top-0 lg:hidden transition-all duration-500 bg-pri-500 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-10 z-10;
}

.lgScreenNav {
  @apply hidden md:flex xl:flex-1 items-center gap-12 h-24 xl:pl-[123px] md:px-12 bg-white bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-[0.05] text-white;
}

.pageMain {
  @apply flex flex-col  bg-no-repeat bg-cover overflow-x-hidden bg-center h-screen min-h-screen;
}

.pageHeader {
  @apply text-white font-barlow text-center md:text-left md:text-xl mb-8 md:mb-[60px];
}

.active {
  @apply border-b-2 border-white;
}

.active > span {
  @apply text-white;
}

.exploreLink {
  @apply relative z-[1] flex items-center justify-center uppercase mx-auto mt-20 md:mt-28 md:mb-[91px] xl:mb-0 font-light h-[150px] w-[150px] xl:h-[274px] xl:w-[274px] rounded-full bg-white text-black text-2xl xl:text-[32px];
}

.exploreLink::before {
  content: "";
  transform: translate(-50%, -50%);
  @apply absolute bg-white top-1/2 left-1/2 w-[150%] h-[150%] rounded-full opacity-0 transition duration-500;
}

.exploreLink:hover::before {
  @apply opacity-10;
}

.explore {
  transform: translate(-50%, -50%);
  @apply absolute left-1/2 top-1/2 rounded-full flex items-center justify-center w-full h-full bg-white font-belle;
}
